*.env

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore the media folder in the backend directory
/mindhaven/media/

/mindhaven/celery.log
/mindhaven/celerybeat-schedule.dat
/mindhaven/celerybeat-schedule
/mindhaven/celerybeat-schedule.bak
/mindhaven/celerybeat-schedule.dir
/mindhaven/celerybeat.pid

__pycache__/
*.pyc